body {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
}

.page {
  height: 100vh;
}

.center-message {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes zooomOut {
  from {
  }
  to {
    font-size: 6500px;
    top: -700px;
    left: -1550px;
    display: none;
  }
}

.zooomOut-lock {
  overflow: hidden;
}

.zooomOut {
  top: 0;
  left: 0;
  position: relative;
  animation: zooomOut;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
